{% extends "_base.html" %}

{% block main %}
{% if current_user.is_authenticated %}
<p>Hi {{ current_user.given_name }}</p>
{% endif %}
<h1>{{ question.title }}</h1>

{% with messages = get_flashed_messages() %}
{% if messages %}
<p class="flash">{{ messages[0] }}</p>
{% endif %}
{% endwith %}

{% if current_user.is_authenticated %}
<form id=answer-form method=post action="{{ url_for(".add_answer", question=question) }}">
  <input type=hidden name=answer value="">
</form>
{% for n in range(1, 6) %}
<a data-answer="{{ n }}" class="answer btn-floating btn-large waves-effect waves-light red">{{ n }}</a>
{% endfor %}
{% else %}
<a href="{{ url_for('.login') }}">login to answer</a>
{% endif %}
{% endblock %}
